html {
  box-sizing: border-box;
}

:root {
  --bgColor: var(--bgColor);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(
    -45deg,
    #0fc0fc,
    #7b1daf,
    #ff2fb9,
    #d4ff47,
    #1b3649
  );
  background-size: 400% 400%;
  position: relative;
  animation: change 20s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: rgb(31, 89, 107);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

#message {
  margin-top: 50px;
  letter-spacing: 0.8rem;
  font-size: 3rem;
  display: flex;
  align-content: center;
  font-family: "Sonsie One", cursive;
}

#board {
  display: grid;
  grid-template-rows: repeat(6, 90px);
  grid-template-columns: repeat(7, 90px);
  margin: 0 auto;
  height: 560px;
  width: 650px;
  border-radius: 5%;
  animation: pulse 2.5s ease-in infinite;
}

#board {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  margin: 0 auto;
  height: 560px;
  width: 650px;
}

#board > div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  background-image: none;
  border-radius: 50%;
  margin-top: 5px;
}

#resetBtn {
  margin: 0 auto;
  margin-top: 20px;
}

#music {
  margin: 0 auto;
  margin-top: 20px;
}

#music:hover {
  animation: pulse 0.5s ease-in infinite;
}

#resetBtn:hover {
  animation: pulse 0.5s ease-in infinite;
}

@media only screen and (min-width: 714px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  -webkit-perspective: 500px;
  perspective: 500px;
  margin: 0;
}

@-webkit-keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBall {
  0% {
    transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@-webkit-keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBallMiddle {
  0% {
    transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@-webkit-keyframes reflect {
  0% {
    -webkit-filter: brightness(60%);
  }
  50% {
    -webkit-filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(90%);
  }
}

@keyframes reflect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#discoBall {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 800px;
  height: 450px;
  position: absolute;
  top: 50px;
  margin-top: 200px;
  -webkit-animation: rotateDiscoBall 18s linear infinite;
  animation: rotateDiscoBall 18s linear infinite;
}

#discoBallLight {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  margin-left: -50px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.2;
  -webkit-filter: blur(20px);
}

.square {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 6px;
  height: 6px;
  position: absolute;
  transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
}

#discoBallMiddle {
  height: 100%;
  border-radius: 100%;
  background-color: #111;
  position: absolute;
  background: -webkit-linear-gradient(top, #111, #333);
  background: -moz-linear-gradient(top, #111, #333);
  background: linear-gradient(top, #111, #333);
  -webkit-animation: rotateDiscoBallMiddle 18s linear infinite;
  animation: rotateDiscoBallMiddle 18s linear infinite;
}

a {
  position: absolute;
  bottom: 12px;
  right: 20px;
}
