html {
  box-sizing: border-box;
}

:root {
  --bgColor: var(--bgColor);
}

body {
  /* background-color: gray; */
  /* background-color: var(--bgColor);
  animation: colorChange 1.5s alternate infinite;
  transition: background-color 0.5s ease; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, #0fc0fc, #7b1daf,#ff2fb9, #d4ff47, #1b3649);
  background-size: 400% 400%;
  position: relative;
  animation: change 20s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: rgb(31, 89, 107);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

#message{
  margin-top: 50px;
  letter-spacing: .8rem;
  font-size: 3rem;
  display: flex;
  align-content: center;
  font-family: 'Sonsie One', cursive;

}

#board {
  display: grid;
  grid-template-rows: repeat(6, 90px);
  grid-template-columns: repeat(7, 90px);
  margin: 0 auto;
  height: 560px;
  width: 650px;
  border-radius: 5%;
  border-left: 5px solid red;
  border-bottom: 5px solid green;
  border-right: 5px solid blue;
  border-top: 5px solid black;
  animation: pulse 2.5s ease-in infinite;
}

#board > div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  background-image: none;
  border-radius: 50%;
  margin-top: 5px;
}

#resetBtn {
  margin: 0 auto;
  margin-top : 20px;
}

#resetBtn:hover {
  animation: pulse 0.5s ease-in infinite;
}

@media only screen and (min-width: 714px) { body {
  display: flex;
  flex-direction: column;
}
}







